* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.active {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  color: #23778c;
}
h1 {
  font-weight: 500;
  font-size: 2.5em;
  margin: 60px 5px 0px 30px;
}
h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0px 5px 0px 50px;
}
p {
  font-weight: 600;
  margin: 5px 5px 0px 50px;
}

.container {
  width: 100%;
  margin: auto;
}

/* header */
.container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  background-color: #0a3641;
  color: #fff;
  margin: auto;
  padding: 0 20px 0 20px;
  min-height: 40px;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-1 {
  flex: 0 1 35vw;
  align-self: flex-end;
  font-weight: 600;
}

.nav-2 {
  flex: 0 1 30vw;
  text-align: center;
}

.nav-3 {
  flex: 0 1 35vw;
  text-align: end;
  align-self: flex-end;
  font-weight: 600;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header img {
  width: 220px;
}

header li {
  padding: 0 10px 20px 10px;
}

header i {
  padding: 0 10px 20px 10px;
}

header input {
  padding: 0 10px;
}

main section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  padding-top: 168px;
}

.cta {
  display: inline-block;
  background-color: #e37500;
  color: white;
  text-decoration: none;
  width: 260px;
  height: auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  padding: 20px 30px;
  border-radius: 50px;
}

#ctamen {
  position: absolute;
  left: 33%;
  top: 75%;
}

#ctawomen {
  position: absolute;
  right: 33%;
  top: 75%;
}

.welcome {
  display: inline-block;
  width: 100%;
  height: 800px;
  background: url(/images/menheader.jpg), url(/images/womenheader.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left, right;
}

.sellingpoints li {
  display: inline-block;
  background-color: #099999;
  color: white;
  font-weight: 300;
}

.sellingpoints ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #099999;
  min-height: 4vh;
}

.sellingpoints li {
  padding: 0.5rem 1rem;
  display: block;
}

.sellingpoints i {
  padding: 0 1em 0 1em;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 40px;
  align-items: center;
}

/* Home Page */

div p {
  color: #23778c;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.arrivals img {
  width: 80%;
}
.arrivals {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px auto;
  align-items: center;
  margin: 20px;
}
.arrivals h1 {
  grid-column: -1/1;
}

.highlyrated img {
  width: 80%;
}
.highlyrated {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px auto;
  align-items: center;
  margin: 20px;
}
.highlyrated h1 {
  grid-column: -1/1;
}

.socialimg {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px auto;
  align-items: center;
  grid-gap: 30px;
  margin: 20px;
}
.social h1 {
  grid-column: -1/1;
}
.social img {
  width: 100%;
}

/* footer */

footer {
  color: white;
  background-color: #0a3641;
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px;
  align-items: center;
  grid-gap: 10px;
}

footer li {
  font-family: "Tinos", serif;
  list-style-type: none;
  text-decoration: none;
  margin: 10px 0px 10px 0px;
  padding: 0px;
}
footer ul {
  padding: 0px;
  margin-left: 40px;
}

footer i {
  margin-left: 40px;
}

@media (min-width: 600px) {
  .welcome {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin: 50px auto;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .socialimg {
    grid-template-columns: repeat(2, 1fr);
  }
  .highlyrated {
    grid-template-columns: repeat(3, 1fr);
  }
  .arrivals {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
    align-items: center;
    grid-gap: 10px;
  }
}

@media (min-width: 800px) {
  .socialimg {
    grid-template-columns: repeat(3, 1fr);
  }
  .highlyrated {
    grid-template-columns: repeat(5, 1fr);
  }
  .arrivals {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
    align-items: center;
    grid-gap: 10px;
  }
}
