@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.active {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  color: #23778c;
}
h1 {
  font-weight: 500;
  font-size: 2.5em;
  margin: 60px 5px 0px 30px;
}
h2 {
  font-weight: 300;
  font-size: 1.5em;
}
.h-banner {
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 14vw;
  padding-top: 25vh;
  display: flex;
  justify-content: center;
  filter: drop-shadow(2px 2px 1px black);
}
.h-info {
  display: flex;
  justify-content: center;
  margin: 0 0.5em;
  padding: 0;
  color: #23778c;
  font-weight: 800;
  font-size: 2.5em;
  margin-top: 8vh;
}

.container {
  width: 100%;
  margin: auto;
}

/* header */
header {
  background-color: #0a3641;
  text-align: center;
  position: fixed;
  z-index: 900;
  width: 100%;
  height: 40px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a3641;
  margin-top: 10px;
  width: 100%;
  height: 120px;
}
.logo img {
  width: 180px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #0a3641;
  text-align: center;
  z-index: 900;
  width: 100%;
  height: 40px;
}
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 8em;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 10.5em;
  left: 0;
  background-color: #0a3641;
  width: 100%;
  display: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}
nav a:hover {
  color: #e37500;
}
.nav-toggle:checked ~ nav {
  display: block;
}

.search-box {
  position: absolute;
  top: 8em;
  right: 70px;
}
.search-box input {
  border: 4px solid #e37500;
  height: 30px;
  width: 150px;
  border-radius: 30px;
  padding: 0px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0a3641;
}

.search-box input:focus {
  outline: 0;
}

.search-btn {
  position: absolute;
  top: 8em;
  right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #e37500;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 1em;
}
.search-btn:hover {
  cursor: pointer;
}

.shopping-bag {
  position: absolute;
  top: 8em;
  right: 1em;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.shopping-bag i {
  color: #fff;
  font-size: 1.5rem;
}

main section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.shopping-bag i:hover {
  color: #e37500;
}

main {
  padding-top: 168px;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 40px;
  align-items: center;
}

.sellingpoints {
  max-width: 100%;
  margin: auto;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
}
.sellingpoints-item {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 100%;
  box-sizing: border-box;
  height: 60px;
  background: #23778c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #099999;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
}
.sellingpoints-item i {
  margin-right: 20px;
  font-size: 28px;
}

/* Home Page */
.welcome {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.cta {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 100%;
  box-sizing: border-box;
  height: 700px;
  background-size: cover;
  background-position-x: center;
  background-position-y: top 5%;
}
.cta-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
}
.cta-inner a {
  padding: 20px 50px;
  color: #fff;
  background: #e37500;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 600;
}

.cta-inner a:hover {
  color: #e37500;
  background: #fff;
  border: 6px solid #e37500;
}

div p {
  color: #23778c;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.arrivals img {
  width: 80%;
}
.arrivals {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px auto;
}
.arrivals h1 {
  grid-column: -1/1;
  font-weight: 600;
  font-size: 50px;
}

.highlyrated img {
  width: 80%;
}
.highlyrated {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px auto;
  align-items: center;
  margin: 20px;
}
.highlyrated h1 {
  grid-column: -1/1;
  font-weight: 600;
  font-size: 50px;
}

.socialimg {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px auto;
  align-items: center;
  grid-gap: 30px;
  margin: 20px;
}
.social h1 {
  grid-column: -1/1;
}
.social img {
  width: 100%;
}

/* product card */
.products {
  text-align: center;
  margin: 20px;
  border: 1px solid #ccc;
}
.products:hover {
  border: 4px solid #e37500;
}
.products h2 {
  margin-bottom: 8px;
}
.products p {
  margin-bottom: 8px;
}
.rating {
  color: #e37500;
  margin-bottom: 10px;
}

/* mens and womens */
.banner-men {
  min-height: 60vh;
  background-image: url(/images/banner-men.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top 25%;
}
.banner-women {
  min-height: 60vh;
  background-image: url(/images/banner-woman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top 20%;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 90px 20px 0;
}
.breadcrumb a {
  font-weight: 300;
  color: #099999;
}
.breadcrumb p {
  font-weight: 300;
  color: #099999;
}
.breadcrumb-inner {
  margin: 3px;
}
.sort {
  margin: 3px;
}
select {
  border: 1px solid #099999;
  width: 150px;
  height: 20px;
}

/* Product Detail Page */
.product-details {
  width: 100%;
  padding: 60px 10vw;
}
.pdp-showcase {
  width: 100%;
}
.pdp-showcase-big {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
.pdp-showcase-small {
  width: 100%;
  border: 1px solid #ccc;
}
.pdp-showcase-carousel {
  display: flex;
}
.pdp-showcase-carousel-img {
  flex-basis: 25%;
  margin-right: 4px;
  cursor: pointer;
}
.details {
  width: 100%;
}
.pdp-h {
  color: #23778c;
  font-weight: 800;
  font-size: 2em;
  margin: 20px 0;
}
.pdp-price {
  font-size: 24px;
  margin-top: 13px;
}
.pdp-sub-h {
  margin: 40px 0 0 0;
}

.color-radio-btn {
  display: inline-block;
  width: 54px;
  height: 54px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 10px 0 10px 0;
  cursor: pointer;
}
.color-radio-btn:hover {
  border: 3px solid #e37500;
}
.blue {
  background: #3792cb;
}
.orange {
  background: #ff9800;
}
.yellow {
  background: #eee600;
}

.size-radio-btn {
  display: inline-block;
  width: 54px;
  height: 54px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #e37500;
  border: 3px solid #e37500;
  margin: 10px 0 10px 0;
  line-height: 50px;
  text-transform: uppercase;
  cursor: pointer;
}
.size-radio-btn:hover {
  color: #fff;
  background: #e37500;
}
.add-basket-btn {
  width: 285px;
  height: 54px;
  margin: 40px 0 0 0;
  padding: auto;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  background: #e37500;
  border: 3px solid #e37500;
}
.add-basket-btn:hover {
  color: #e37500;
  background: #fff;
  border: 3px solid #e37500;
}
.pdp-description {
  width: 80%;
  margin: 0 auto;
}
.pdp-customer {
  display: flex;
  margin: 20px 0 0 0;
}
.pdp-txt {
  font-family: "Tinos", serif;
  font-weight: 300;
  line-height: 1.5em;
  color: #000;
  margin-top: 20px;
  padding-bottom: 40px;
}
.pdp-sub-h3 {
  margin: 0 8px 0 0;
  font-weight: 300;
  font-size: 18px;
  color: #23778c;
}
.customer-feedback {
  width: 80%;
  margin: 0 auto 40px auto;
}
.pdp-customer i {
  font-size: 18px;
  color: #e37500;
}
.pdp-customer p {
  margin: 0 0 0 8px;
  font-weight: 300;
  font-size: 18px;
  color: #999;
}
.blue-line {
  border-bottom: 2px solid #23778c;
}

/* About */
.banner-about {
  min-height: 50vh;
  background-image: url(/images/banner-about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.p-about {
  justify-content: center;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 0;
  color: #000;
  font-weight: 300;
  font-size: 1em;
  margin-top: 2vh;
}

.logo-bottom {
  display: flex;
  justify-content: center;
  margin: 10vh auto 5vh auto;
  padding: 0 3em 0 3em;
}

.logo-bottom img {
  min-width: 20vw;
  height: auto;
}

/* Contact */
.banner-contact {
  min-height: 50vh;
  background-image: url(/images/banner-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.contact h3 {
  font-weight: 400;
  font-size: 22px;
  color: #23778c;
}
.contact a {
  font-weight: 400;
  color: #099999;
}
.contact a:hover {
  color: #e37500;
}
.contact p {
  font-weight: 300;
  font-size: 18px;
}
.contact-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact {
  width: 90%;
  margin: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact a {
  width: auto;
  float: inline-start;
  margin: 0;
}
.icon {
  float: inline-start;
  height: 5em;
  width: 5em;
  background: #e37500;
  color: #fff;
  border-radius: 50%;
  margin: 0 1em 0 0;
  display: flex;
}
.icon i {
  margin: auto;
  font-size: 3em;
}
.contact .chat,
.phone,
.email {
  width: auto;
  float: right;
  margin: 2em 0 0 0;
}
.logo-contact {
  display: flex;
  justify-content: center;
  margin: 10vh auto 5vh auto;
  padding: 0 3em 0 3em;
}
.logo-contact img {
  width: 60%;
  height: auto;
}

/* footer */

footer {
  color: white;
  background-color: #0a3641;
}

.footer {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0;
}

.footerel {
  padding: 20px 0 20px 0;
}

footer li {
  font-family: "Tinos", serif;
  list-style-type: none;
  text-decoration: none;
  margin: 10px 0px 10px 0px;
  padding: 0px;
}
footer ul {
  padding: 0px;
  margin-left: 40px;
}

footer i {
  font-size: 2em;
  margin-left: 40px;
  margin-bottom: 20px;
}

.footerel h3 {
  margin-bottom: 10px;
}

.footerel input {
  margin: 0 0 0 40px;
}

.footerel p {
  color: #fff;
  font-weight: 300;
}

.footerel i:hover {
  color: #e37500;
}

.sub input {
  width: 180px;
  height: 30px;
  border: 4px solid #e37500;
  padding-left: 10px;
  color: #0a3641;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.sub input:focus {
  outline: 0;
}
.sub button {
  height: 30px;
  width: 90px;
  background: #e37500;
  border: 4px solid #e37500;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-left: -4px;
}

@media (min-width: 840px) {
  .nav-toggle-label {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    all: unset;
    background-color: #0a3641;
    color: #fff;
  }
  nav a {
    color: #fff;
  }
  nav ul {
    display: flex;
    justify-content: flex-start;
  }
  .search-box input {
    width: 220px;
  }
  .h-banner {
    font-size: 8em;
  }

  .cta-men {
    margin-left: 50%;
  }
  .cta-women {
    margin-right: 50%;
  }

  .socialimg {
    grid-template-columns: repeat(2, 1fr);
  }
  .highlyrated {
    grid-template-columns: repeat(3, 1fr);
  }
  .arrivals {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1170px) {
  .h-banner {
    font-size: 8em;
    padding-left: 8vw;
    padding-top: 24vh;
    justify-content: left;
  }
  .logo img {
    margin-top: 20px;
    width: 250px;
  }

  /* Welcome */
  .cta {
    min-width: 50%;
  }

  /* sellingpoints */
  .sellingpoints-item {
    min-width: 33.33%;
    height: 60px;
  }

  .breadcrumb {
    margin: 30px 20px 0;
  }

  /* landingpage */
  .socialimg {
    grid-template-columns: repeat(3, 1fr);
  }
  .highlyrated {
    grid-template-columns: repeat(5, 1fr);
  }
  .arrivals {
    grid-template-columns: repeat(5, 1fr);
  }

  /* Product Detail Page */
  .product-details {
    display: flex;
    justify-content: space-between;
  }
  .details {
    width: 70%;
    margin-left: 20px;
  }
  .color-radio-btn {
    margin: 10px 10px 10px 0;
  }
  .size-radio-btn {
    margin: 10px 10px 10px 0;
  }
  .add-basket-btn {
    width: 327px;
  }
  /* contact */
  .contact-box {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
  }
  .contact {
    width: 500px;
    margin: 1em 0 5em 0;
    display: flex;
    flex-direction: column;
  }
  .logo-contact img {
    width: 500px;
    height: auto;
    margin: 0 0 5em 5em;
  }

  /* footer */
  .footer {
    display: grid;
    grid-auto-flow: column;
    margin: 0px;
    grid-gap: 1em;
  }
  .footerel input {
    margin: 0 0 40px 40px;
  }
}
