* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.active {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  color: #23778c;
}
h1 {
  font-weight: 500;
  font-size: 2.5em;
  margin: 60px 5px 0px 30px;
}
h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0px 5px 0px 50px;
}
p {
  font-weight: 600;
  margin: 5px 5px 0px 50px;
}

.container {
  width: 100%;
  margin: auto;
}

/* header */
header {
  background-color: #0a3641;
  text-align: center;
  position: fixed;
  z-index: 900;
  width: 100%;
  height: 40px;
}
.logo {
  display: flex;
  background-color: #0a3641;
  width: 100%;
  height: 40px;
}
.logo img {
  display: flex;
  width: 260px;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #0a3641;
  text-align: center;
  z-index: 900;
  width: 100%;
  height: 40px;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: #0a3641;
  width: 100%;
  display: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}
nav a:hover {
  color: #e37500;
}
.nav-toggle:checked ~ nav {
  display: block;
}

.search-btn {
  color: #0a3641;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.shopping-bag {
  height: 40px;
  width: 40px;
  margin-right: 1em;
}
.shopping-bag i {
  color: #fff;
  font-size: 1.5rem;
}

.search-box {
  position: absolute;
  top: 100%;
  right: 5%;
  transform: (-110%, -7%);
}
.search-box input {
  border: 3px solid #e37500;
  height: 30px;
  width: 220px;
}

/* Main */

main section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  padding-top: 168px;
}

.cta {
  display: inline-block;
  background-color: #e37500;
  color: white;
  text-decoration: none;
  width: 260px;
  height: auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  padding: 20px 30px;
  border-radius: 50px;
}

#ctamen {
  position: relative;
  left: 33%;
  top: 75%;
}

#ctawomen {
  position: relative;
  right: 33%;
  top: 75%;
}

.welcome {
  display: inline-block;
  width: 100%;
  height: 800px;
  background: url(/images/menheader.jpg), url(/images/womenheader.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top left, top right;
}

.sellingpoints li {
  display: inline-block;
  background-color: #099999;
  color: white;
  font-weight: 300;
}

.sellingpoints ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  background-color: #099999;
  min-height: 4vh;
}

.sellingpoints li {
  padding: 0.5rem 1rem;
  display: block;
}

.sellingpoints i {
  padding: 0 1em 0 1em;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 40px;
  align-items: center;
}

/* Home Page */

div p {
  color: #23778c;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.arrivals img {
  width: 80%;
}
.arrivals {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px auto;
  align-items: center;
  margin: 20px;
}
.arrivals h1 {
  grid-column: -1/1;
}

.highlyrated img {
  width: 80%;
}
.highlyrated {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px auto;
  align-items: center;
  margin: 20px;
}
.highlyrated h1 {
  grid-column: -1/1;
}

.socialimg {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px auto;
  align-items: center;
  grid-gap: 30px;
  margin: 20px;
}
.social h1 {
  grid-column: -1/1;
}
.social img {
  width: 100%;
}

/* footer */

footer {
  color: white;
  background-color: #0a3641;
}

.footer {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0;
}

.footerel {
  padding: 20px 0 20px 0;
}

footer li {
  font-family: "Tinos", serif;
  list-style-type: none;
  text-decoration: none;
  margin: 10px 0px 10px 0px;
  padding: 0px;
}
footer ul {
  padding: 0px;
  margin-left: 40px;
}

footer i {
  font-size: 2em;
  margin-left: 40px;
  margin-bottom: 20px;
}

.footerel h3 {
  margin-bottom: 10px;
}

.footerel input {
  margin: 0 0 0 40px;
}

.footerel p {
  color: #fff;
  font-weight: 300;
}

@media (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    all: unset;
    background-color: #0a3641;
    color: #fff;
  }
  nav a {
    color: #fff;
  }
  nav ul {
    display: flex;
    justify-content: flex-start;
  }
  .welcome {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin: 50px auto;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .socialimg {
    grid-template-columns: repeat(2, 1fr);
  }
  .highlyrated {
    grid-template-columns: repeat(3, 1fr);
  }
  .arrivals {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .socialimg {
    grid-template-columns: repeat(3, 1fr);
  }
  .highlyrated {
    grid-template-columns: repeat(5, 1fr);
  }
  .arrivals {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer {
    display: grid;
    grid-auto-flow: column;
    margin: 0px;
    grid-gap: 1em;
  }
  .footerel input {
    margin: 0 0 40px 40px;
  }
}
